<% layout("layouts/boilerplate") %>

    <body>
        
    <div class="row">
    <div class="col-8 offset-2" >
        <br>
    <h3>Create a new listing</h3>
    <form method="post" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input id="title" name="listing[title]" type="text" placeholder="enter title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" type="text" class="form-control"></textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-lable">Image Link</label>
            <input name="listing[image]" placeholder="enter image url" type="text" class="form-control">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" type="number" placeholder="enter price" class="form-control">
            </div>
            <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" type="text" placeholder="enter country" class="form-control">
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input name="listing[location]" type="text" placeholder="enter location" class="form-control">
        </div>
        
        
        <br>
        <br>
        <button class="btn btn-dark add-btn"> Add </button>
    </form>
    </div>
    </div>
    </body>